/* fibonacciHistory.css */
.history-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .history-container h5 {
    margin-bottom: 20px;
  }
  
  .history-list-item {
    border-bottom: 1px solid #ddd;
  }
  
  .history-list-item:last-child {
    border-bottom: none;
  }
  
  .history-list-item .MuiListItemText-primary {
    font-weight: bold;
  }
  
  .history-list-item .MuiListItemText-secondary {
    color: #555;
  }
  